USE [master]
GO
/****** Object:  Database [DB_MUNDO]    Script Date: 3/7/2025 07:05:10 ******/
CREATE DATABASE [DB_MUNDO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_MUNDO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2016\MSSQL\DATA\DB_MUNDO.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_MUNDO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2016\MSSQL\DATA\DB_MUNDO_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MUNDO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MUNDO]
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 3/7/2025 07:05:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[POBLACION] [int] NULL,
	[SUPERFICIE] [decimal](18, 2) NULL,
	[PAIS] [nvarchar](50) NULL,
	[FEC_CREACION] [datetime] NULL,
	[FEC_ACT] [datetime] NULL,
 CONSTRAINT [PK_CIUDAD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 3/7/2025 07:05:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USR] [nvarchar](50) NOT NULL,
	[CLAVE] [nvarchar](50) NULL,
	[NOMBRES] [nvarchar](50) NULL,
	[APELLIDOS] [nvarchar](50) NULL,
	[FEC_CREACION] [datetime] NULL,
	[FEC_ACT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
